@{ 
    ViewBag.Title = "Info";
}


<article id="info-page" class="top-menu">
    <div class="red-text center text-center very-big-text">
        Your account was banned or deleted
    </div>
</article>